*.lp
*.txt
logs/
!logs/.gitkeep
out/
pucks.xml
solution/
!solution.gitkeep

# Idea ignores
.idea/
*.iml

# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# VSCode
.vscode/
