*.lp
*.txt
libs
logs/
!logs/.gitkeep
out/
pucks.xml
solution/
!solution.gitkeep

# Idea ignores
.idea/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
