*.lp
*.txt
logs/
!logs/.gitkeep
out/
pucks.xml
scripts/**/*.csv
scripts/**/*.out
scripts/*.sh
scripts/**/*.yaml
solution/
!solution.gitkeep

# Idea ignores
.idea/
*.iml

# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# VSCode
.vscode/
